@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome @ViewBag.username</h1>
<a href="/spa">Spa Form</a>

<div>
    <p>Username: @ViewBag.username</p>
    <p>Email: @ViewBag.email</p>
    <p>Date Created: @ViewBag.created</p>

</div>